In [1]:
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook

import numpy as np
import pandas as pd

In [4]:
sep_csv = pd.read_csv('septemberSamples.csv')
sstv_csv = pd.read_csv('sstv.csv')

In [17]:
display(len(sep_csv))
display(sstv_csv)
x = np.arange(0,len(sstv_csv),1)
x = pd.DataFrame(x)
plt.figure(figsize=(100,100))
plt.plot(x,sstv_csv)
plt.show()

17450635

             0
0         8065
1        15635
2        22242
3        27481
4        31029
...        ...
5529602   -745
5529603  -7121
5529604 -13224
5529605 -18819
5529606 -23691

[5529607 rows x 1 columns]